parameters:
	level: 9
	paths:
		- public-collaboration.php
		- uninstall.php
		- inc/
		- templates/
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	treatPhpDocTypesAsCertain: false
